<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Your Learning Logs</h1>
  <ul>
    <% logs.forEach(log => { %>
      <li>
        <strong><%= log.title %></strong>: <%= log.description %>
      </li>
    <% }); %>
  </ul>
  <a href="/">Go Back</a>
</body>
</html>
